<%= @errors.empty? ? '' : "
                                    <section class=\"alert alert-danger\">
                                     Errors: #{@errors.join(',')}
                                     </section>"  %>
