<div class="row">
  <div class="col button">
    <button type="button" class="btn btn-primary" disabled>
      Level:
      <span class="badge badge-light">
                   <%= difficulty %>
                </span>
    </button>
    <button type="button" class="btn btn-primary" disabled>
      Attempts Left:
      <span class="badge badge-light">
                  <%= "#{attempts_left} / #{attempts_total}" %>
                </span>
    </button>
    <button type="button" class="btn btn-primary" disabled>
      Hints Left:
      <span class="badge badge-light">
                  <%= "#{hints_left} / #{hints_total}" %>
                </span>
    </button>
  </div>
</div>
